<% if user_signed_in? %>
  <% if current_user.favorite_listing? @listing.id %>
    <%= form_tag("/favorite_listings/#{@listing.id}", class: "unlike-listing", remote: true, method: :delete) do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button class="like-btn fav-btn"><i class="fa fa-heart text-primary"></i> <span class="fav-text">You Fav'd this</span></button>
    <% end %>
    <%= form_tag("/favorite_listing", class: "like-listing hide", remote: true,  method: :post) do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag 'listing_id', @listing.id %>
      <button class="like-btn fav-btn"><i class="fa fa-heart-o"></i> <span class="fav-text">Fav this</span></button>
    <% end %>
  <% else %>
    <%= form_tag("/favorite_listings/#{@listing.id}", class: "unlike-listing hide", remote: true,  method: :delete) do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button class="like-btn fav-btn"><i class="fa fa-heart text-primary"></i> <span class="fav-text">You Fav'd this</span></button>
    <% end %>
    <%= form_tag("/favorite_listings", class: "like-listing", remote: true, method: :post) do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag 'listing_id', @listing.id %>
      <button class="like-btn fav-btn"><i class="fa fa-heart-o"></i> <span class="fav-text">Fav this</span></button>
    <% end %>
  <% end %>
<% end %>
