<div class="row listing-new">
<%= form_for(@listing, html: { class: "form-horizontal dropzone", role: "form", id:"listing_form" }) do |f| %>
  <% if @listing.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h5>Property</h5>
    <div class="input-field col s12">
      <%= f.label :name, class: "active" %>
      <%= f.text_field :name, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :desc, class: "active" %>
      <%= f.text_field :desc, class: "validate" %>
    </div>
    <h5>Price</h5>
    <div class="input-field col s12">
      <%= f.label :price %>
      <div id="listing"></div>
      <input type="number" class="col s12 number-input" name="price" id="price">
    </div>


      <p>
        <%= f.check_box :imove_in %>
        <label for="listing_imove_in">Instant Move In</label>
      </p>

    
    <h5>Location</h5>

    <div class="input-field col s12">
      <label class="active" for="special">address</label>
      <%= f.hidden_field :latitude, id: "latitude" %>
      <%= f.hidden_field :longitude, id: "longitude" %>
      <%= hidden_field_tag 'city', request.location.city %>
      <%= f.text_field :address, class: "validate", id: "special", placeholder: "#{request.location.city}"%>
    </div>
    <div class="col s12">
      <div style='width: 90%;'>
      <div id="map" style='width: 90%; height: 400px;'></div>
      </div>
    </div>

    <h5>Information</h5>
    <div class="input-field col s12">
      <%= f.label :bedroom, class: "active" %>
      <%= f.text_field :bedroom, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :bathroom, class: "active" %>
      <%= f.text_field :bathroom, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :car_park, class: "active" %>
      <%= f.text_field :parking, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :area, class: "active" %>
      <%= f.text_field :area, class: "validate" %>
    </div>
    
    <div class="input-field col s12">
      <%= f.label :furnished, class: "active" %>
      <%= f.select(:furnished, Listing.furnisheds.keys) %>
    </div>

    <div class="input-field col s12">
      <%= f.label :property, class: "active" %>
      <%= f.select(:property, Listing.properties.keys)  %>
    </div>  

    


    <div class="col s12">
      <div class="card-panel waves-effect waves-block waves-green" id="clickzone">
          <span class="">Drop file here or click here
          </span>
        </div>
      <div classs="dropzone-previews" id ="previews"></div>
    </div>
    
  <div class="col s12">
    <div class="col-sm-offset-2 col-sm-10">
      <% if current_user.confirmed? %>
        <%= f.submit class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Resend confirm email", new_confirmation_path(current_user), class: "btn btn-primary" %>
      <% end %>
    </div>
  
<% end %>
</div>
<script>
  var listingSlider = document.getElementById('listing');

  noUiSlider.create(listingSlider, {
    start: [ 600 ],
    range: {
      'min': 500,
      'max': 2500
    },
    margin: 50,
    step: 50
  });

  var price = document.getElementById('price');

  listingSlider.noUiSlider.on('update', function( values, handle ) {

    var value = values[handle];
      price.value = Math.round(value);
  });
</script>

<%= render 'drop' %>