<div class="row listing">
  <div class="col m3">
    <%= image_tag listing.image, class:'responsive-img' %>
  </div>
  <div class="col m7 text-left">
    <h3 class="dark-green-text"><%= listing.name %></h3>
    <h4><i><%= listing.city %></i></h4>
    <h6><%= listing.address %></h6>
  </div>
  <div class="col m2">
    <h5 class= "dark-green-text">RM<%= listing.price %> <br>per month</h5>
    <%= link_to 'View Now', listing, class: "f12 waves-effect waves-light btn" %>
    <p class="primary-text"><%= "Instant Move In" if listing.imove_in %> </p>
  </div>
</div>
