<div class="row">
  <div class="col s12">
    <h1><%= @listing.name %></h1>
    <p><i><%= @listing.city %></i></p>
  </div>
  <div class="col s12 desc">
    <%= @listing.desc %>
  </div>
  <div class="col s12">
    <h6 ><%= "Instant Move In" if @listing.imove_in %> </h6>
  </div>
  <div class="col s12 price">
    <span>RM<%= @listing.price %></span> per month
  </div>
  <div class="col s3">Bedroom</div>
  <div class="col s1">:</div>
  <div class="col s8"><%= @listing.bedroom %></div>
  <div class="col s3">Bathrom</div>
  <div class="col s1">:</div>
  <div class="col s8"><%= @listing.bathroom %></div>
  <div class="col s3">Carpark</div>
  <div class="col s1">:</div>
  <div class="col s8"><%= @listing.parking %></div>
  <div class="col s3">Area</div>
  <div class="col s1">:</div>
  <div class="col s8"><%= @listing.area %> sqft</div>
  <div class="col s3">Furnished</div>
  <div class="col s1">:</div>
  <div class="col s8"><%= @listing.furnished.capitalize %></div>
  <div class="col s3">Type</div>
  <div class="col s1">:</div>
  <div class="col s8"><%= @listing.property.capitalize %></div>

  <div class="col s3 owner">
    <i class="fa fa-user dark-green-text" aria-hidden="true"></i> Owner
  </div>
  <div class="col s1 owner">:</div>
  <div class="col s8 owner">
    <%= link_to @listing.user.name, user_path(@listing.user_id) %>
  </div>

  <div class="col s12 owner">
    <i class="fa fa-map-marker red-text" aria-hidden="true"></i></i> Address: <%= @listing.address %>
  </div>
</div>