<%= render 'google_map_script' %>
<div class="page-header">
  <div class="inline-block left">
    <h1>Favorite Listing</h1>
  </div> 
  <div class="result inline-block">
    <span><%= params[:query] %></span> 
    <span class="grey-text total"><i><%= @listings.count %>/<%= @listings.total_count %> results</i></span>
  </div>
  <div class="inline-block right">
  <%= link_to new_listing_path, class: 'btn-floating btn-large waves-effect waves-light','data-no-turbolink' => true do %>
    <i class="material-icons">add</i>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="col hidden-xs hide fixed-map">
    <div style='width: 100%;'>
    <div id="map" style='width: 90%; height: 400px;'></div>
    </div>
  </div>
  <div class="col s12" >
    <div id="listing-item">
      <%= render partial: 'fav_item', collection: @listings.page(params[:listing]), as: :listing %>
    </div>
    <div id="listing-num">
      <%= paginate @listings.page(params[:listing]), :remote => true, param_name: 'listing', :window => 1 %>
    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
<%= render 'home/slider' %>
