<div class="page-header">
  <%= link_to listings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_listing_path(@listing), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show listing</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @listing.name %></dd>

  <dt>Desc:</dt>
  <dd><%= @listing.desc %></dd>

  <dt>Price:</dt>
  <dd><%= @listing.price %></dd>
  
  <dt>Address:</dt>
  <dd><%= @listing.address %></dd>

  <dt>Coordinat:</dt>
  <dd><%= @listing.latitude %>,<%= @listing.longitude %></dd>
</dl>
<div style='width: 90%;'>
  <div id="map" style='width: 90%; height: 400px;'></div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": 0,
        "lng": 0,
        "picture": {
          "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
          "width":  32,
          "height": 32
        },
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
<script>
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script>