<%= content_for :title do %>
  <%= "#{@listing.name} | Favful" %>
<% end %>

<%= content_for :head do %>
  <% meta_tag :title, "#{@listing.name}" %>
  <% meta_tag :description, "#{@listing.desc}" %>
  <%= render partial: 'facebook_og', locals: {listing: @listing} %>
  <link rel="canonical" href="<%= request.path %>">
  <meta property="fb:article_style" content="default">
<% end %>
<div class="page-header">
  <%= link_to listings_path, class: 'btn btn-default', 'data-no-turbolink' => true  do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_listing_path(@listing), class: 'btn btn-primary', 'data-no-turbolink' => true  do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show listing</h1>
  Share<%= render 'share' %>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      Name: <%= @listing.name %>
    </div>
    <div class="col s12">
      View: <%= @listing.view %>
    </div>
    <div class="col s12">
      Desc: <%= @listing.desc %>
    </div>
    <div class="col s12">
      Price: <%= @listing.price %>
    </div>
    <div class="col s12">
      Bedroom: <%= @listing.bedroom %>
    </div>
    <div class="col s12">
      Bathroom: <%= @listing.bathroom %>
    </div>
    <div class="col s12">
      Car Park: <%= @listing.parking %>
    </div>
    <div class="col s12">
      Area: <%= @listing.area %> sqft
    </div>
    <div class="col s12">
      Furnished: <%= @listing.furnished.capitalize  %>
    </div>
    <div class="col s12">
      Type: <%= @listing.property.capitalize  %>
    </div>
    <div class="col s12">
      Address: <%= @listing.address %>
    </div>
    <div class="col s12">
      Image: 
      <%= render_gallery_for @listing.pictures %>
      
    </div>
    <div class="col s12">
      Owner: <%= link_to @listing.user.name, user_path(@listing.user_id) %><br><%= image_tag(@listing.user.image) %>
    </div>
  </div>
</div>

<div style='width: 90%;'>
  <div id="map" style='width: 90%; height: 400px;'></div>
</div>
<%= render 'feature_listing' %>
<%= form_for(@listing, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= f.hidden_field :published_at , :value => Time.now, class: "form-control" %>
  <%= f.submit "Bump",  class: "btn btn-primary" if current_user.present? && current_user.id == @listing.user_id && @listing.published_at < 1.day.ago%>
<% end %>
<% if @listing.published_at > 1.day.ago %>
  <p>About <%= ((@listing.published_at + 1.day - Time.now )/3600).round %> hour to bump again<p>
<%end%>
<%= render 'google_map_script' %>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>
