<%= content_for :title do %>
  <%= "#{@listing.name}" %>
<% end %>

<%= content_for :head do %>
  <% meta_tag :title, @listing.name %>
  <% meta_tag :description, @listing.desc %>
  <%= render partial: 'facebook_og', locals: {listing: @listing} %>
  <link rel="canonical" href="<%= request.path %>">
  <meta property="fb:article_style" content="default">
<% end %>
<div class="page-header-listing">
  <%= link_to listings_path, class: 'left', 'data-no-turbolink' => true  do %>
    <i class=" fa fa-4x fa-chevron-left" aria-hidden="true"></i>
  <% end %>
  <%= link_to edit_listing_path(@listing), class: 'right', 'data-no-turbolink' => true  do %>
    <h4>Edit</h4>
    
  <% end %>
  Share<%= render 'share' %>
</div>
<div class="listing-show">
  <div class="row">
    <div class="col l5">
      <%= image_tag @listing.pictures[0].image.url, class:'responsive-img' %>

      <%= render_gallery_for @listing.pictures %>
    </div>
    <div class="col l5">
      <%= render 'show_item' %>
    </div>
    <div class="col l2">
      <%= render 'feature_listing' %>
    </div>
    <div class="col l5"></div>
    <div class="col l7">
      <div style='width: 100%;'>
        <div id="map" style='width: 90%; height: 482px;'></div>
      </div>
    </div>
    
  </div>
</div>

<%= form_for(@listing, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= f.hidden_field :published_at , :value => Time.now, class: "form-control" %>
  <%= f.submit "Bump",  class: "btn btn-primary" if current_user.present? && current_user.id == @listing.user_id && @listing.published_at < 1.day.ago%>
<% end %>
<% if @listing.published_at > 1.day.ago %>
  <p>About <%= ((@listing.published_at + 1.day - Time.now )/3600).round %> hour to bump again<p>
<%end%>
<%= render 'google_map_script' %>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>
