<div class="card-panel teal black-text padding-bottom2rem <%= purchase_counter%2 != 1 ? 'white-text' : 'lighten-4 black-text' %>">

  <div class="col s12 m4">
    <%= purchase_counter %>
    Amount: RM <%= purchase.amount %>
  </div>
  <div class="col s12 m4">
    Credit: <%= purchase.credits %>
  </div>
  <div class="col s12 m4">
    Purchase Time: <%= purchase.created_at.localtime.strftime("%Y-%m-%d %I:%M %p") %>
  </div>
</div>