<div class="page-header user">
  <h1>Profile Detail</h1>
</div>
<div class="row myrow">
  <div class="col l4 user">
    <%= image_tag current_user.image.url, class:'circle ' %>
  </div>
  <%= render 'form' %>
</div>

<%= link_to 'change password', edit_user_registration_path, class: 'btn btn-warning' %>

<%= link_to users_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to @user, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
<% end %>