<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email %></dd>

  <dt>Identity card:</dt>
  <dd><%= @user.identity_card %></dd>
  <% if @reviews %>
    <% @reviews.each do |review| %>
      <dt>Review:</dt>
      <dd><%= review.comment %></dd>
      <dt>Rate By:</dt>
      <dd><%= review.rater.name %></dd>
      <div class="star-rating" data-score=<%= review.rating %>></div>
    <% end %>
  <% end %>
</dl>

<div class="row">
  <div class="col-md-6">
    <%= form_for([@user,@review], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @review.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :comment, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :comment, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rating, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="star"><%= f.number_field :rating, class: "form-control" %></div>

    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

  </div>
</div>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

