<div class="contain">
  <div class="row">
    <%= form_tag listings_path, method: :get do %>
      <div class="col-md-12">
        <div class="form-group">
          <%= text_field_tag :query, params[:query], class: 'form-control city', placeholder: "Where you want to rent?",  autocomplete: "off" %>
          <%= select_tag :imove_in, "<option value=false>Normal Move In</option><option value=true>Instant Move In</option>".html_safe %>
          <p>
            <label for="amount">Price range:</label>
            <input type="text" name='begin_price' id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          </p>
          <div data-role="rangeslider">
        <label for="price-min">Price:</label>
        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
        <label for="price-max">Price:</label>
        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
      </div>
        <%= submit_tag 'Get your room now!', class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h1> Rent House with us</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h3>Why Us</h3>
  </div>
  <div class="col-md-4">
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h3>Why Us</h3>
  </div>
  <div class="col-md-4">
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h3>Why Us</h3>
  </div>
</div>
<!-- load jQuery 1.10.2 -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
var jQuery_1_10_2 = $.noConflict(true);
</script>
<script>
  jQuery_1_10_2(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 500,
      max: 2500,
      values: [ 800, 1000 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "RM" + ui.values[ 0 ] + " - RM" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "RM" + $( "#slider-range" ).slider( "values", 0 ) +
      " - RM" + $( "#slider-range" ).slider( "values", 1 ) );
  });
  </script>