<div class="row">
  <div class="col s12 l6">
    title
  </div>
  <div class="col s12 l6">
    <%= form_tag listings_path, method: :get do %>
      <div class="row">
        <div class="input-field col s12">
          <div class="row home">
            <div class="col s6 padding-zero">
              <%= text_field_tag :query, params[:query], class: 'city home-form', placeholder: "Where you want to rent?",  autocomplete: "off" %>
            </div>
            <div class="col s6 padding-zero">
              <%= select_tag :imove_in, "<option value=false>Normal Move In</option><option value=true>Instant Move In</option>".html_safe, class: 'home-form'%>
            </div>
          </div>
        </div>
        <div class="input-field col s12">
          Price Range:
          <div id="html5"></div>
          <input type="number" class="col s4 number-input" name="lower" min="500" max="2500" step="1" id="lower">
          <div class="col s4"></div>
          <input type="number" class="col s4 number-input" name="higher" min="500" max="2500" step="1" id="higher">
        </div>
    
          

        <%= submit_tag 'Get your room now!', class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <%= form_tag listings_path, method: :get do %>
      <div class="col-md-12">
        <div class="form-group">
          <%= text_field_tag :query, params[:query], class: 'form-control city', placeholder: "Where you want to rent?",  autocomplete: "off" %>
          <%= select_tag :imove_in, "<option value=false>Normal Move In</option><option value=true>Instant Move In</option>".html_safe %>
          
        <%= submit_tag 'Get your room now!', class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h1> Rent House with us</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h3>Why Us</h3>
  </div>
  <div class="col-md-4">
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h3>Why Us</h3>
  </div>
  <div class="col-md-4">
    <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT4ZO2MVO4a2-Vjo-1nQcqbw-yHZWySPyLLsi5e34dODimek9XW', width: "100%" %>
    <h3>Why Us</h3>
  </div>
</div>