<div class="footer">
  <div class="container">
    <div class="row social-media-icon">
      <%= link_to '', 'www.google.com', class: 'mdi mdi-facebook mdi-18px circle-border' %>
      <%= link_to '', 'www.google.com', class: 'mdi mdi-instagram mdi-18px circle-border' %>
      <%= link_to '', 'www.google.com', class: 'mdi mdi-twitter mdi-18px circle-border' %>
      <%= link_to '', 'www.google.com', class: 'mdi mdi-pinterest mdi-18px circle-border' %>
    </div>
    <div class="row user-link">
      <ul>
        <li><a href="#modal1" class="modal-trigger">Payment</a></li>
        <li><%= link_to 'listings', listings_path,'data-no-turbolink' => true %></li>
        <li><%= link_to 'lisitng', 'www.google.com' %></li>
        <li><%= link_to 'lisitng', 'www.google.com' %></li>
      </ul>
    </div>
    <div class="row normal-link">
      <ul>
        <li><%= link_to 'lisitng', 'www.google.com' %></li>
        <li><%= link_to 'lisitng', 'www.google.com' %></li>
        <li><%= link_to 'lisitng', 'www.google.com' %></li>
        <li><%= link_to 'lisitng', 'www.google.com' %></li>
      </ul>
    </div>
    <div class="row address">
      address of office
    </div>
    <div class="row copyright">
      Copyright @xxx All right reserved. <spam class='primary-text'>A product of xxx</span>
    </div>
  </div>
</div>