<nav>
  <div class="nav-wrapper">
    <%= link_to "Money", root_path, class: "left brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="right button-collapse show-on-large"><i class="material-icons">menu</i></a>

    <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
        <li>
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s4">
                <%= image_tag current_user.image.url, class:'circle responsive-img' %>
              </div>
              <div class="col s8">
                <span class="black-text">
                  <%= link_to current_user.name, edit_user_path(current_user.id) %>
                </span>
              </div>
            </div>
          </div>
        </li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
      <li><a href="#modal1" class="modal-trigger">Payment</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
      <li><a href="#!">Close</a></li>
    </ul>
  </div>
</nav>