<nav>
  <div class="nav-wrapper">
    <%= link_to "Money", root_path, class: "left brand-logo margin-left2rem" %>
    <a href="#" data-activates="mobile-demo" class="right button-collapse show-on-large margin-right2rem"><i class="material-icons">menu</i></a>

    <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
        <li>
          <%= render 'layouts/user_info' %>
        </li>
        <li><%= link_to 'Payment', credit_users_path, 'data-no-turbolink' => true %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
        <li><%= link_to 'Favorite', fav_listings_path %></li>
        <li><%= link_to 'New Listing', new_listing_path, 'data-no-turbolink' => true %></li>
        <li><%= link_to 'My Listing', owner_listings_path, 'data-no-turbolink' => true %></li>
        <li><blockquote><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></blockquote></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
      <li><a href="#!">Close</a></li>
    </ul>
  </div>
</nav>