<h2>Register</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row signup-user">
    <div class="file-field input-field col s12">
      <div class="row">
        <div class="col s12">
          
          
        </div>
        <div class="col s12">
          <div class="btn image center-align">
            <span class='icon_img'><i class="material-icons md-48">face</i><br> Uplaod Image<img id="img_prev" class="hide circle" src="#" alt="your image" /></span>
            
            <%= f.file_field :image, onchange: "readURL(this);" %>
          </div>
        </div>
      </div>
    </div>

    <div class="input-field col s12">
      <%= f.label :name, class: "active" %>
      <%= f.text_field :name, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :contact, class: "active" %>
      <%= f.text_field :contact, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :email, class: "active" %>
      <%= f.text_field :email, class: "validate" %>
    </div>
    
    <div class="input-field col s12">
      <%= f.label :identity_card, class: "active" %>
      <%= f.text_field :identity_card, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :password, class: "active" %>
      <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :password_confirmation, class: "active" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :contact, class: "active" %>
      <%= f.text_field :contact, class: "validate" %>
    </div>

    <div class="input-field col s12">
      <%= select_tag :stage, options_for_select(["Penang", "Selangor", "Kuala Lumpur", "Johor", "Perak", "Sabah", "Sarawak", "Melaka", "Pahang", "Negeri Sembilan", "Perlis", "Kelantan", "Terengganu", "Kedah"], "#{request.location}") %>
      <%= f.label :stage %>
    </div>

    <div class="input-field col s12 right-align">
      <%= f.submit 'Register', class: "btn btn-primary" %>
    </div>
    <%= link_to 'Member Login?', new_user_session_path, class:'col s12 right-align' %>
  </div>
  
<% end %>

<%= render "users/shared/links" %>
